hr {
  height: 3px;
  background-color: var(--light-dark);
}

.certificate-result-div {
  display: flex;
  gap: var(--space-unit);
}

.certificate-textarea {
  width: 600px;
  resize: none;
  font-family: monospace !important;
}

#copyDns01ValueButton {
  align-self: center;
}

input[list]:hover::-webkit-calendar-picker-indicator,
input[list]:focus::-webkit-calendar-picker-indicator {
  display: none !important;
}

.retention-label {
  max-width: 180px;
}

#iana-timezone {
  min-width: 370px;
}

#maintenance-window-start-hour {
  width: 200px;
}

#backup-server-known-hosts {
  max-width: 800px;
  height: 70px;
}

#enable-backup-server-label {
  align-self: start;
}

#enable-backup-server-label input {
  margin-top: 25px;
  margin-left: 100px;
}

#next-maintenance-execution {
  display: grid;
  align-self: start;
  padding-right: 20px;
}

#certificate-operation-indicator {
  display: none;
  align-items: center;
  gap: var(--space-tight);
}

#certificate-operation-icon,
#certificate-operation-spinner {
  display: none;
}

#certificate-operation-spinner {
  animation: spin 1s linear infinite;
}