<ul>
    <li id="versions-maintainer">Maintainer: {{$.Page.Maintainer}}</li>
    <li id="versions-app-name">App Name: {{$.Page.App}}</li>
</ul>

<table id="versions-table">
    <thead>
    <tr>
        <th>Version</th>
        <th>Upload Date</th>
        <th>Migration Checkpoint</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="versions-results-body">
    {{range $.Page.Versions}}
    {{$version := .}}
    <tr class="version-row" data-version-id="{{$version.VersionId}}" data-version-name="{{$version.Name}}" data-created-at-pretty="{{$version.CreationTimestampFormatted}}" data-is-migration-checkpoint="{{$version.IsMigrationCheckpoint}}" data-can-install="{{$version.CanInstall}}">
        <td class="version-name">{{$version.Name}}</td>
        <td class="version-upload-date version-created-at">{{$version.CreationTimestampFormatted}}</td>
        <td class="version-migration-checkpoint">{{if $version.IsMigrationCheckpoint}}Yes{{else}}No{{end}}</td>
        <td class="version-actions">
            <div class="actions-row">
                <button type="button" class="lean icon-btn version-install-button"
                        title="Install/update version"
                        aria-label="Install/update version"
                        {{if not $version.CanInstall}}disabled aria-disabled="true"{{end}}
                        onclick='installVersionFromVersionsPage(this, {{$version.VersionId}})'>
                    <i class="mdi mdi-download-box-outline" aria-hidden="true"></i>
                </button>
                <button type="button" class="lean icon-btn version-download-button"
                        title="Download version"
                        aria-label="Download version"
                        onclick='downloadStoreVersionForBrowser({{$version.VersionId}})'>
                    <i class="mdi mdi-download-outline" aria-hidden="true"></i>
                </button>
            </div>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
